body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #e9eaed;
}

.bodyContainer{
	
	margin: 1em 4em;
}

.statut{
	margin: 0.05px;
}

*{
	font-family: 'Roboto-Light';
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../Roboto/Roboto/Roboto-Light.ttf) format("truetype");
}
